# default build dir
/build*

# Eclipse project files
/.project
/.cproject
/.settings
/.pydevproject
*.user

# Output from example builds
examples/intltool-demo/po/Makefile.in.in
examples/intltool-demo/po/POTFILES.in
