Tests: findgmock
Restrictions: allow-stderr
Depends:
  build-essential,
  cmake,
  cmake-extras,
  googletest (>= 1.8.0) | google-mock,

Tests: copyrighttest
Restrictions: allow-stderr
Depends:
  build-essential,
  cmake,
  cmake-extras,
  licensecheck | devscripts (<< 2.16.6)

Tests: intltool
Restrictions: allow-stderr
Depends:
  build-essential,
  cmake,
  cmake-extras,
  intltool,
  libglib2.0-dev,
  pkg-config,
